._1bpcM{
    position: fixed!important;
    color: #ef4444!important;
    border:solid 3px #ef4444;
}
._2iWL7{
    width: 280px!important;
    position: fixed!important;
}
._3YWHv{
    width: 360px;
}
